@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f4f4f4;
        }

        .navbar {
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .navbar-brand {
            font-size: 24px;
            color: #333;
        }

        .navbar-toggler-icon {
            background-color: #333;
        }

        .navbar-nav .nav-link {
            color: #333;
            font-weight: 600;
        }

        .container {
            padding: 20px 0;
        }

        .product-details {
            background-color: #fff;
            border-radius: 14px;
            box-shadow: 5px 5px 5px grey;
            text-align: center;
            padding: 20px;
        }

            .product-details h1 {
                font-size: 24px;
                color: #333;
            }

            .product-details img {
                border-radius: 14px;
                max-width: 100%;
            }

            .product-details h3 {
                font-size: 18px;
                color: #333;
            }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 6px;
            font-size: 18px;
            text-decoration: none;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .badge {
            background-color: #333;
            color: #fff;
            border-radius: 50%;
            padding: 3px 6px;
        }
    </style>
</head>
<body style="height:100%">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Compras</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">Loja</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">Todos produtos</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="#!">Itens populares</a></li>
                            <li><a class="dropdown-item" href="#!">Novos produtos</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    @if (ViewBag.AcessorioSelecionado != null)
    {
        string nomeProduto = ViewBag.AcessorioSelecionado.nomeproduto.ToString();
        string descricaoProduto = ViewBag.AcessorioSelecionado.descricaoproduto.ToString();
        string precoProduto = ViewBag.AcessorioSelecionado.preco.ToString();
        string numeroWhatsApp = "+5579998881750";

        string mensagem = $"Olá! Estou interessado no seguinte produto:%0A%0ANome: {nomeProduto}%0ADescrição: {descricaoProduto}%0APreço: R${precoProduto}%0A%0AGostaria de obter mais informações sobre este produto.";

        string urlWhatsApp = $"https://api.whatsapp.com/send?phone={numeroWhatsApp}&text={mensagem}";

        <div class="container">
            <div class="product-details">
                <h1>Detalhes do Produto Selecionado</h1>
                <img src="@ViewBag.AcessorioSelecionado.fotoproduto" alt="@nomeProduto">
                <div>
                    <h3>Nome:</h3>
                    <h4>@nomeProduto</h4>
                    <h3>Descrição</h3>
                    <h4>@descricaoProduto</h4>
                    <h3>Preço: </h3>
                    <h4> R$@precoProduto</h4>
                </div>
                <a href="@urlWhatsApp" target="_blank" class="btn btn-primary">Clique para continuar a compra</a>

            </div>
        </div>
    }
    else
    {
        @foreach (var item in ViewBag.Acessorios)
        {
            <div>
                @item.proID
            </div>
        }
    }
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/site.js"></script>
</body>
</html>
